<div class="panel panel-default">
  <div class="panel-heading">用户详情</div>
  <div class="panel-body">
    <ul class="list-group">
        {{#if user}}
        <li class="list-group-item">电话：{{user.mobile}}</li>
        <li class="list-group-item">用户类型：{{user.usertype}}</li>
        <li class="list-group-item">所属公司：{{user.type}}</li>
        <li class="list-group-item">面单账号：{{user.account}}</li>
        <li class="list-group-item">剩余单数：{{user.count}}</li>
        <li class="list-group-item">所属快递点：{{user.orgid}}</li>
        <li class="list-group-item">当前状态：{{user.status}}</li>
        {{/if}}
    </ul>
    <a href="/usermodify?id={{user._id}}" style="cursor:hand" >修改</a>
  </div>
</div>