<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
 <title>新增地址</title>      
<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.2/style/weui.css"/>
<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/bower_components/distpicker/dist/distpicker.data.js"></script>
<script type="text/javascript" src="/bower_components/distpicker/dist/distpicker.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<link rel="stylesheet" href="/node_modules/jquery-weui/dist/css/jquery-weui.css">
</head>

<body>
    <form method="POST"  action="/customer/location?t=0">
            <div class="weui_cells_title">新增地址</div>
                <div class="weui_cells weui_cells_access">             
                       <div data-toggle="distpicker">
                            <div class="weui_cell">
                                <div class="weui_cell_hd">
                                    <label class="weui_label">省</label>
                                </div>
                                <div class="weui_cell_bd weui_cell_primary weui_select_after">
                                    <select name="provincename" required="" class="weui_select" data-province="---- 选择省 ----"></select>
                                </div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_hd">
                                    <label class="weui_label">市</label>
                                </div>
                                <div class="weui_cell_bd weui_cell_select weui_select_after">
                                    <select name="cityname" required="" class="weui_select" data-city="---- 选择市 ----"></select>
                                </div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_hd">
                                    <label class="weui_label">区县</label>
                                </div>
                                <div class="weui_cell_bd weui_cell_select weui_select_after">
                                    <select name="expareaname"  class="weui_select" data-district="---- 选择区 ----"></select>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="weui_cells weui_cells_access"> 
                            <div class="weui_cell">
                                <div class="weui_cell_hd">
                                    <label class="weui_label">详细地址</label>
                                </div>
                                <div class="weui_cell_bd ">
                                    <textarea class="weui_textarea"  placeholder="请填写详细地址" name="address" required=""></textarea>
                                </div>
                            </div>
                            <div class="weui_cell weui_cell_select weui_select_after">
                                <div class="weui_cell_hd">
                                    <label for="" class="weui_label">地址类型</label>
                                </div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    {{#if showslt}}
                                    <select class="weui_select" name="type" id="typeselectid" required="">
                                        <option value="1">收件地址</option>
                                        <option value="2">寄件地址</option>
                                    </select>
                                    {{else}}
                                    <input class="weui_input" type="hidden" name="type"  value="{{source}}" type="text" placeholder="必填">
                                    <input class="weui_input"  type="text" placeholder="选填" disabled value="{{title}}">
                                    {{/if}}
                                </div>
                            </div>
                            
                            <input class="weui_input" type="hidden" name="openid"  value="{{openid}}" type="text" placeholder="必填">
                 </div> 
                <div class="weui_cells weui_cells_access">
                    <div class="weui_cell" style="display:none">
                        <div class="weui_cell_hd">
                            <label class="weui_label">公司</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" name="company" type="text" placeholder="选填">
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label" id="connectname">{{connectname}}</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" name="name" id="username"   type="text" placeholder="必填">
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label" id="connecttele">{{connecttele}}</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" name="tele" id="telenum"  type="tele" placeholder="必填">
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">邮编</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" name="postcode" id='postcode'  type="text" placeholder="选填">
                        </div>
                    </div>                    
                </div> 

   
                     
                    <div class="weui_btn_area">
                        <button type="submit" id="submitbtn" class="weui_btn weui_btn_primary">提交</button>
                    </div>
                 
      
    </form>
<style>
    body {
  background-color: #efeff4;
}
.weui_label{
    width: 5em;
}
</style>
<script src="/node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
<script src="/node_modules/jquery-weui/dist/js/jquery-weui.js"></script>
<script>
    $('#submitbtn').on('click',function(event){
         if($('#username').val()=='' || $('#telenum').val()==''){
            $.alert("姓名和电话不可为空！", "警告");
            return false;
        }
    })


  $("#typeselectid").change(function(){
      if($("#typeselectid").val()=='1')
      {
        $("#connectname").text("收件人姓名");
        $("#connecttele").text("收件人电话");  
      }
      else{
        $("#connectname").text("寄件人姓名");
        $("#connecttele").text("寄件人电话");  
      }
  });
</script>
</body>