<!DOCTYPE html>
<html lang="zh-CN" style="height:100%">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
 <title>WeUI</title>      
<!--<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.2/style/weui.css"/>
<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>-->
<!--<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->

<link rel="stylesheet" href="/node_modules/jquery-weui/dist/lib/weui.css">
<link rel="stylesheet" href="/node_modules/jquery-weui/dist/css/jquery-weui.css">
<script src="/node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
 <style type="text/css">
        body {
            margin: auto;
            background-color: #f5f5f5
        }
        .button_sp_area {
            margin-right: 30px;
            margin-left: 30px;
            margin-top: 20px;
        }
        .sender_icon {
            width: 60px;
            height: 60px;
            background-color: #ef4f4f;
            border-radius: 10px;
            color: #FFFFFF;
            font-size: 36px;
            text-align: center;
            line-height: 60px;
        }
        .reciver_icon {
            width: 60px;
            height: 60px;
            background-color: #04be02;
            border-radius: 10px;
            color: #FFFFFF;
            font-size: 36px;
            text-align: center;
            line-height: 60px;
        }
        .desc_area{
            display: flex;
        }
        .desc_area .desc_title{
            flex:1;
            color: #000000;
            font-size: 14px;
            line-height: 1.2;
            overflow: hidden;
            text-overflow:ellipsis;
        }
        .desc_area .desc{
            flex:1;
            color: #999999;
            font-size: 13px;
            line-height: 1.2;
            overflow: hidden;
            text-overflow:ellipsis;
        }
    </style>
</head>

<body style="height:100%">
<div class="weui_tab">
  <div class="weui_tab_bd">
    
    <div class="weui_cells weui_cells_access">
      {{#each locs}}
      <a class="weui_cell" href="/customer/locdetail?locid={{_id}}">
        <div class="weui_cell_bd weui_cell_primary">
                   <div id="sender_info">
                        <div class="desc_area">
				            <span class="desc_title">{{name}} {{tele}}</span>
                        </div>
                        <div class="desc_area">
                            <span class="desc">{{provincename}}{{cityname}}{{expareaname}}</span>
                        </div>
                        <div class="desc_area">
                            <span class="desc">{{address}}</span>
                        </div>
                </div>
        </div>
        <div class="weui_cell_ft">详情</div>
      </a>
      {{/each}}
    </div>
   
  </div>
  <div class="weui_tabbar">
    <a href="/customer/send?openid={{openid}}" class="weui_tabbar_item ">
      <div class="weui_tabbar_icon">
        <img src="/img/icon_nav_button.png" alt="">
      </div>
      <p class="weui_tabbar_label">寄快递</p>
    </a>
    <a href="/customer/sendrecord?openid={{openid}}" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="/img/icon_nav_cell.png" alt="">
      </div>
      <p class="weui_tabbar_label">查快递</p>
    </a>
    <a href="/customer/locnav?openid={{openid}}" class="weui_tabbar_item weui_bar_item_on" >
      <div class="weui_tabbar_icon">
        <img src="/img/icon_nav_toast.png" alt="">
      </div>
      <p class="weui_tabbar_label">地址库</p>
    </a>
    <a href="/customer/setting?openid={{openid}}" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="/img/icon_nav_dialog.png" alt="">
      </div>
      <p class="weui_tabbar_label">设置</p>
    </a>
  </div>
</div>
<style>
    body {
  background-color: #efeff4;
}
.weui_label{
    width: 5em;
}
</style>

<script src="/node_modules/jquery-weui/dist/js/jquery-weui.js"></script>
</body>