<!DOCTYPE html>
<html lang="zh-CN" style="height:100%">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
 <title>选择收件人</title>      
<!--<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.2/style/weui.css"/>
<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>-->
<!--<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->

<link rel="stylesheet" href="/node_modules/jquery-weui/dist/lib/weui.css">
<link rel="stylesheet" href="/node_modules/jquery-weui/dist/css/jquery-weui.css">
<script src="/node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
 <style type="text/css">
        body {
            margin: auto;
            background-color: #f5f5f5
        }
        .button_sp_area {
            margin-right: 30px;
            margin-left: 30px;
            margin-top: 20px;
        }
        .sender_icon {
            width: 60px;
            height: 60px;
            background-color: #ef4f4f;
            border-radius: 10px;
            color: #FFFFFF;
            font-size: 36px;
            text-align: center;
            line-height: 60px;
        }
        .reciver_icon {
            width: 60px;
            height: 60px;
            background-color: #04be02;
            border-radius: 10px;
            color: #FFFFFF;
            font-size: 36px;
            text-align: center;
            line-height: 60px;
        }
        .desc_area{
            display: flex;
        }
        .desc_area .desc_title{
            flex:1;
            color: #000000;
            font-size: 14px;
            line-height: 1.2;
            overflow: hidden;
            text-overflow:ellipsis;
        }
        .desc_area .desc{
            flex:1;
            color: #999999;
            font-size: 13px;
            line-height: 1.2;
            overflow: hidden;
            text-overflow:ellipsis;
        }
    </style>
</head>

<body style="height:100%">
    <form class="weui_tab" method="POST"  action="/customer/send?openid={{openid}}&type=1"> 
       
         <div class="weui_tab_bd">
            <div class="weui_cells weui_cells_radio">
            {{#if locs}}
             {{#each locs}}
            <label class="weui_cell weui_check_label">
                <div class="weui_cell_bd weui_cell_primary">
                    <div id="receiver_info">
                            <div class="desc_area">
                                <span class="desc_title">{{name}} {{tele}}</span>
                            </div>
                            <div class="desc_area">
                                <span class="desc">{{provincename}}{{cityname}}{{expareaname}}</span>
                            </div>
                            <div class="desc_area">
                                <span class="desc">{{address}}</span>
                            </div>
                    </div>
                </div>
                <div class="weui_cell_ft">
                <input type="radio" class="weui_check"  value="{{_id}}" name="radio1" id="{{_id}}">
                <span class="weui_icon_checked"></span>
                </div>
            </label>       
            {{/each}}
            {{else}}
                <div class="container" id="container">
                    <div class="msg">
                        <div class="weui_msg">
                            <div class="weui_icon_area">
                                <i class="weui_icon_warn weui_icon_msg"></i>
                            </div>
                            <div class="weui_text_area">
                                <h2 class="weui_msg_title">尚未维护收件地址</h2>
                                <p class="weui_msg_desc">请进入地址库进行维护，之后才可以在这里进行选择</p>
                            </div>
                            <div class="weui_opr_area">
                                <p class="weui_btn_area">
                                    <!--onclick="WeixinJSBridge.call('closeWindow');"-->
                                    <a href="/customer/locnav?openid={{openid}}" class="weui_btn weui_btn_primary" >前往设置</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}   
            </div>
         </div>
          {{#if locs}}
    <!--<div class="weui_tabbar">        
        <button type="submit" id="sumitbtn" class="weui_tabbar_item weui_btn weui_btn_primary">选好了</button>
    </div>-->
<div class="weui_tabbar">        
  <button id="sumitbtn" type="submit" class="weui_tabbar_item weui_btn weui_btn_mini weui_btn_primary" style="height:42px">选择</button>
  <button id="createloc" class="weui_tabbar_item weui_btn weui_btn_mini weui_btn_default" style="margin-top:0;height:42px;">新建</button>
  </div>
          {{/if}}
    </form>
<style>
    body {
  background-color: #efeff4;
}
.weui_label{
    width: 5em;
}
</style>

<script src="/node_modules/jquery-weui/dist/js/jquery-weui.js"></script>
<script>

        $('#sumitbtn').on('click',function(event){   
        if(!$(':radio[name=radio1]:checked').length){
            $.alert("必须选择一个收件人", "警告");
            return false;
        }
    })
</script>

</body>