<!DOCTYPE html>
<html lang="zh-CN" style="height:100%">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
 <title>寄件地址</title>      
<!--<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.2/style/weui.css"/>
<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>-->
<!--<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->

<link rel="stylesheet" href="/node_modules/jquery-weui/dist/lib/weui.css">
<link rel="stylesheet" href="/node_modules/jquery-weui/dist/css/jquery-weui.css">
<link rel="stylesheet" href="/js/dropload/dropload.css">

 <style type="text/css">
        body {
            margin: auto;
            background-color: #f5f5f5
        }
        .button_sp_area {
            margin-right: 30px;
            margin-left: 30px;
            margin-top: 20px;
        }
        .sender_icon {
            width: 60px;
            height: 60px;
            background-color: #ef4f4f;
            border-radius: 10px;
            color: #FFFFFF;
            font-size: 36px;
            text-align: center;
            line-height: 60px;
        }
        .reciver_icon {
            width: 60px;
            height: 60px;
            background-color: #04be02;
            border-radius: 10px;
            color: #FFFFFF;
            font-size: 36px;
            text-align: center;
            line-height: 60px;
        }
        .desc_area{
            display: flex;
        }
        .desc_area .desc_title{
            flex:1;
            color: #000000;
            font-size: 14px;
            line-height: 1.2;
            overflow: hidden;
            text-overflow:ellipsis;
        }
        .desc_area .desc{
            flex:1;
            color: #999999;
            font-size: 13px;
            line-height: 1.2;
            overflow: hidden;
            text-overflow:ellipsis;
        }
    </style>
</head>

<body  style="height:100%">
<div class="weui_tab">
  <div id="scrolldiv" class="weui_tab_bd">
    
    <div id="list" class="weui_cells weui_cells_access">
    </div>
   
   
  </div>
  <div class="weui_tabbar">
    <a href="/customer/send?openid={{openid}}" class="weui_tabbar_item ">
      <div class="weui_tabbar_icon">
        <img src="/img/icon_nav_button.png" alt="">
      </div>
      <p class="weui_tabbar_label">寄快递</p>
    </a>
    <a href="/customer/sendrecord?openid={{openid}}" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="/img/icon_nav_cell.png" alt="">
      </div>
      <p class="weui_tabbar_label">查快递</p>
    </a>
    <a href="/customer/locnav?openid={{openid}}" class="weui_tabbar_item weui_bar_item_on" >
      <div class="weui_tabbar_icon">
        <img src="/img/icon_nav_toast.png" alt="">
      </div>
      <p class="weui_tabbar_label">地址库</p>
    </a>
    <a href="/customer/setting?openid={{openid}}" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="/img/icon_nav_dialog.png" alt="">
      </div>
      <p class="weui_tabbar_label">设置</p>
    </a>
  </div>
</div>
<style>
    body {
  background-color: #efeff4;
}
.weui_label{
    width: 5em;
}
</style>
<script src="/node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
<script src="/node_modules/jquery-weui/dist/js/jquery-weui.js"></script>
<script src="/js/dropload/dropload.js"></script>
<script src="/js/dropload/dropload.min.js"></script>
<script>
$(function(){
    var counter = 0;
    // 每页展示4个
    var num = 4;
    var pageStart = 0,pageEnd = 0;
    // dropload
    $('#scrolldiv').dropload({
        scrollArea : window,
        loadDownFn : function(me){
            $.ajax({
                type: 'GET',
                url: '/customer/sendrecordapi?openid={{openid}}',
                dataType: 'json',
                success: function(data){
                    var result = '';
                    counter++;
                    pageEnd = num * counter;
                    pageStart = pageEnd - num;
                    for(var i = pageStart; i < pageEnd; i++){
                        result +='<a class="weui_cell" href="">'
                                  +'<div class="weui_cell_bd weui_cell_primary">'
                                    +'<div id="receiver_info">'
                                      +'<div class="desc_area">'
				                                +'<span class="desc_title">'+data[i].ordercode+'</span>'
                                      +'</div>'
                                      +'<div class="desc_area">'
                                        +'<span class="desc">'+data[i].receiveid.provincename+data[i].receiveid.cityname+data[i].receiveid.expareaname+'</span>'
                                      +'</div>'
                                      +'<div class="desc_area">'
                                       +'<span class="desc">'+data[i].receiveid.name+'</span>'
                                      +'</div>'
                                  +'</div>'
                                +'</div>'
                                +'<div class="weui_cell_ft">详情</div>'
                              +'</a>'
                        if((i + 1) >= data.length){
                            // 锁定
                            me.lock();
                            // 无数据
                            me.noData();
                            break;
                        }
                    }
                    // 为了测试，延迟1秒加载
                    setTimeout(function(){
                        $('#list').append(result);
                        // 每次数据加载完，必须重置
                        me.resetload();
                    },1000);
                },
                error: function(xhr, type){
                    alert('Ajax error!');
                    // 即使加载出错，也得重置
                    me.resetload();
                }
            });
        }
    });
});
</script>
</body>